body {
  background-color: #503006;
  font-family: 'Arial', sans-serif;
}
.game {
  position: absolute;
  width: 1100px;
  height: calc(100vh - 20px);
  background-image: url('img/floresta.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  left: 130px;
}


.player {
  position: absolute;
  transition: transform 0.2s ease-in-out;
}


.player1 {
top: 600px;
left: 100px;
bottom: 0;
transition: transform 0.2s ease-in-out;
position: absolute;

}

.player2 {
top: 580px;
left: 5px;
position: absolute;
bottom: 0;
transition: transform 0.2s ease-in-out;
}

.banana {
position: absolute;
top: 220px;
left: 370px;
width: 30px;
height: 30px;
background-image: url('img/banana.png');
background-size: 100% 100%;
}

.banana:nth-child(1) {
  top: 220px;
  left: 370px;
}

.banana:nth-child(2) {
  top: 240px;
  left: 400px;
}

.banana:nth-child(3) {
  top: 260px;
  left: 430px;
}

.banana:nth-child(4) {
  top: 280px;
  left: 460px;
}

.banana:nth-child(5) {
  top: 300px;
  left: 490px;
}
.banana:nth-child(6) {
  top: 320px;
  left: 520px;
}
.banana:nth-child(7) {
  top: 340px;
  left: 550px;
}



/* Adicione mais bananas ajustando as posições conforme necessário */

.portal {
position: absolute;
top: 0px;
left: 2000px;
width: 100px;
height: 100px;
background-image: url('img/portal.png');
background-size: cover;
}

#level {
position: absolute;
top: 0px;
left: 10px;
font-size: 24px;
color: #fff;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h1 {
font-size: 36px;
color: #fff;
text-align: center;
margin-top: 100px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
font-size: 28px;
color: #fff;
text-align: center;
margin-top: 10px;

}


h2 {
font-size: 28px;
color: #fff;
text-align: center;
margin-top: 10px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.vine1 {
top: 70px;
left: 0px;
position: absolute;
width: 10px;
height: 50px;
background-size: 100% 100%;
transform-origin: center bottom;
transition: transform 0.2s ease-in-out;
}


.vine2 {
top: 50px;
left: 200px;
position: absolute;
width: 10px;
height: 100px;
background-size: 100% 100%;
transform-origin: center bottom;
transition: transform 0.2s ease-in-out;
}


.vine3 {
top: 70px;
left: 300px;
position: absolute;
width: 10px;
height: 100px;
background-size: 100% 100%;
transform-origin: center bottom;
transition: transform 0.2s ease-in-out;
}


.vine4 {
top: 80px;
left: 500px;
position: absolute;
width: 10px;
height: 100px;
background-size: 100% 100%;
transform-origin: center bottom;
transition: transform 0.2s ease-in-out;
}



.morro {
position: absolute;
top: 500px;
left: 900px;
width: 1200px;
height: 200px;
background-image: url('img/cloud.png');
background-size: 100% 100%;
border-radius: 20px;
}

.lodo{
  position: absolute;
  top: 500px;
  left: 300px;
  background-image: url('img/lodo.png');
  background-size: 100% 100%;
  border-radius: 0px;
}
.cloud {
position: absolute;
top: 200px;
left: 100px;
width: 100px;
height: 30px;
background-image: url('img/cloud.png');
background-size: 100% 100%;
animation: cloudUpDown 4s ease-in-out infinite;
border-radius: 30px;

}

@keyframes cloudUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}